{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "BottomLeft",
      "offset" : [4, 4],
      "positionLocked" : true
    },
    "background_color" : {
      "type" : "canvas",
      "zlevel" : -10,
      "rect" : [0, 0, 333, 186]
    },
    "background_ui" : {
      "type" : "background",
      "zlevel" : -9,
      "fileBody" : "/interface/newchat/body.png"
    },
    "textBox" : {
      "type" : "textbox",
      "zlevel": 1,
      "maxWidth" : 290,
      "position" : [4, 2],
      "color" : "lightgray",
      "hint" : "^#007F7F;Say:",
      "enterKey" : "sendMessage",
      "escapeKey" : "blurMessage",
      "callback" : "updateLetterCount"
    },
    "textBoxGhost" : {
      "type" : "textbox",
      "maxWidth" : 290,
      "position" : [4, 2],
      "color" : "darkgray",
      "disabled" : true,
      "mouseTransparent" : true
    },

    "letterCount" : {
      "type" : "label",
      "value" : "^darkgray;1000",
      "hAnchor" : "mid",
      "fontSize" : 8,
      "position" : [318, 2]
    },

    "chatLog" : {
      "type" : "canvas",
      "zlevel" : 1,
      "rect" : [8, 14, 333, 201],
      "captureMouseEvents" : true//,
      //"captureKeyboardEvents" : true
    },

    "avatarCanvas1" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas2" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas3" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas4" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas5" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas6" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas7" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas8" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas9" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },
    "avatarCanvas10" : { "type" : "canvas", "zlevel" : 2, "rect" : [0, 0, 20, 20] },

    "scrollbar" : {
      "type" : "canvas",
      "zlevel" : -8,
      "rect" : [0, 22, 8, 201],
      "captureMouseEvents" : true
    },

    "bottomButton" : {
      "type" : "button",
      "disabled" : true,
      "visible" : false,
      "position" : [0, 14],
      "pressedOffset" : [0, 0],
      "base" : "/interface/newchat/bottomBase.png",
      "hover" : "/interface/newchat/bottomHover.png",
      "pressed" : "/interface/newchat/bottomPress.png",
      "disabledImage" : "/interface/newchat/bottomDisable.png"
    },

    "customButton1" : {
      "type" : "button",
      "zlevel" : 3,
      "visible" : false,
      "position" : [0, 0],
      "pressedOffset" : [0, -1],
      "base" : "/interface/newchat/bottomBase.png",
      "hover" : "/interface/newchat/bottomHover.png",
      "pressed" : "/interface/newchat/bottomPress.png",
      "disabledImage" : "/interface/newchat/bottomDisable.png"
    },

    "customButton2" : {
      "type" : "button",
      "zlevel" : 3,
      "visible" : false,
      "position" : [0, 0],
      "pressedOffset" : [0, -1],
      "base" : "/interface/newchat/bottomBase.png",
      "hover" : "/interface/newchat/bottomHover.png",
      "pressed" : "/interface/newchat/bottomPress.png",
      "disabledImage" : "/interface/newchat/bottomDisable.png"
    },

    "customButton3" : {
      "type" : "button",
      "zlevel" : 3,
      "visible" : false,
      "position" : [0, 0],
      "pressedOffset" : [0, -1],
      "base" : "/interface/newchat/bottomBase.png",
      "hover" : "/interface/newchat/bottomHover.png",
      "pressed" : "/interface/newchat/bottomPress.png",
      "disabledImage" : "/interface/newchat/bottomDisable.png"
    },

    "dummyScrollArea1" : {
      "type" : "scrollArea",
      "zlevel" : -101,
      "rect" :  [0, 14, 333, 201],
      "children" : {
        "dummyScrollArea2" : {
          "type" : "scrollArea",
          "zlevel" : -100,
          "rect" :  [0, 0, 333, 187],
          "children" : {
            "minus" : {
              "type" : "canvas",
              "rect" : [0, -2, 1, -1]
            },
            "plus" : {
              "type" : "canvas",
              "rect" : [0, 182, 1, 183]
            }
          }
        }
      }
    }
  },

  "canvasClickCallbacks" : {
    "chatLog" : "canvasClickEvent",
    "scrollbar" : "scrollbarClickEvent"
  },
  "canvasKeyCallbacks" : {
    "chatLog" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "sendMessage",
    "blurMessage",
    "updateLetterCount",
    "textBoxGhost",
    "bottomButton",
    "customButton1",
    "customButton2",
    "customButton3"
  ],

  "scripts" : ["/interface/newchat/chat.lua"],
  "scriptDelta" : 1
}
