{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "TopRight",
      "offset" : [-10, -60],
      "positionLocked" : true
    },
    "toolbar" : {
      "type" : "canvas",
      "zlevel" : 1,
      "rect" : [0, 0, 152, 300],
      "captureMouseEvents" : true
    },
    "background_ui" : {
      "type" : "background",
      "zlevel" : -9,
      "fileBody" : "/interface/stmanipulator/body.png"
    },
    "feedModeRadioGroup" : {
      "type": "radioGroup",
      "toggleMode": true,
      "position": [ 10, 100 ],
      "zlevel": 1,
      "buttons": [
        {
          "id" : 0,
          "baseImage": "/interface/stmanipulator/random.png",
          "hoverImage": "/interface/stmanipulator/random.png?brightness=30",
          "baseImageChecked": "/interface/stmanipulator/randomSelected.png",
          "hoverImageChecked": "/interface/stmanipulator/randomSelected.png?brightness=30",
          "pressedOffset": [ 0, -1 ],
          "selected": true
        },
        {
          "id" : 1,
          "baseImage": "/interface/stmanipulator/pattern.png",
          "hoverImage": "/interface/stmanipulator/pattern.png?brightness=30",
          "baseImageChecked": "/interface/stmanipulator/patternSelected.png",
          "hoverImageChecked": "/interface/stmanipulator/patternSelected.png?brightness=30",
          "pressedOffset": [ 0, -1 ],
          "position": [ 19, 0 ]
        },
        {
          "id" : 2,
          "baseImage": "/interface/stmanipulator/noise.png",
          "hoverImage": "/interface/stmanipulator/noise.png?brightness=30",
          "baseImageChecked": "/interface/stmanipulator/noiseSelected.png",
          "hoverImageChecked": "/interface/stmanipulator/noiseSelected.png?brightness=30",
          "pressedOffset": [ 0, -1 ],
          "position": [ 38, 0 ]
        }
      ]
    }
  },

  "scriptWidgetCallbacks" : [
    "pencilButton",
    "eraserButton",
    "painterButton",
    "hueshifterButton",
    "dropperButton",
    "gradientButton",
    "colliderButton",
    "feedModeRadioGroup"
  ],

  "canvasClickCallbacks" : {
    "toolbar" : "toolbarClickEvent"
  },

  "scripts" : ["/interface/stmanipulator/stmanipulator.lua"],
  "scriptDelta" : 1
}
