{
  "blockKey" : [
    {
      "value" : [64, 64, 255, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "backgroundMat" : "bk3k_invisible_hardBlock",
      "foregroundMat" : "bk3k_invisible_hardBlock",
      "foregroundResidual" : true,
      "backgroundResidual" : true
    },
    
    
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_shiplocker",
      "objectParameters": {
        "treasurePools": [ "starterTreasure" ],
        "level": 1.0,
        "unbreakable": false
      },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [0, 248, 0, 255]//0, 255, 0, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_shiplocker",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [50, 248, 50, 255]//0, 255, 0, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_printer",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [135, 255, 142, 255]//142, 255, 142, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_fuelhatch",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [248, 87, 81, 255]//255, 87, 81, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "object": "apexshiplight",
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [249, 255, 0, 255]//255, 255, 0, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_lexshipdoor",
      "objectDirection": "left",
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [248, 102, 0, 255]//255, 102, 0, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_lexshipdoor",
      "objectDirection": "right",
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [114, 45, 0, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_captainschair",
      "objectDirection": "left",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [0, 248, 255, 255]//0, 255, 255, 255
    },
    
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [249, 255, 144, 255]//255, 255, 144, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "backgroundResidual" : true,
      "value": [249, 117, 144, 255] //255, 117, 144, 255
    },
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "vepr_platform1",
      "backgroundMat": "vepr_shipdetails",
      "backgroundResidual" : true,
      "foregroundResidual" : true,
      "value": [29, 90, 79, 255] //255, 117, 144, 255
    },
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "vepr_platform1",
      "backgroundMat": "vepr_shipwall_flat",
      "backgroundResidual" : true,
      "foregroundResidual" : true,
      "value": [29, 90, 29, 255]//already good
    },
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "vepr_platform1",
      "backgroundMat": "vepr_shipsupport_flat",
      "backgroundResidual" : true,
      "foregroundResidual" : true,
      "value": [171, 130, 255, 255]//already good
    },
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "vepr_platform1",
      "backgroundMat": "vepr_shipdetails",
      "backgroundResidual" : true,
      "foregroundResidual" : true,
      "value": [238, 0, 238, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_skymap",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": true },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [104, 209, 201, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_watertank",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": true },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [255, 40, 40, 255]//already good
    },
    //add stuff
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "object": "vepr_lextoilet",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [254, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "object": "vepr_lexbed",
      "objectDirection": "left",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [253, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_lexlight",
      "objectDirection": "left",
      "objectParameters": {
        "defaultLightState" : false,
        "unbreakable": false
      },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [252, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "object": "vepr_coffee_table",
      "objectDirection": "left",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [251, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_lextable",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [250, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_lexchair",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [249, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "vepr_lexchair",
      "objectDirection": "left",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [248, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_postermech",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [247, 40, 40, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_techstation",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [246, 40, 40, 255]//already good
    },
    
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "bathroomsink",
      "objectDirection": "right",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [245, 40, 40, 255]//already good
    },
    
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipsupport_flat",
      "backgroundResidual" : true,
      "value": [249, 117, 255, 255]//255, 117, 255, 255
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipwall_flat",
      "object": "vepr_craftingTable",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "value": [194, 255, 12, 255]//already good
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "vepr_shipdetails",
      "object": "vepr_teleporter",
      "objectParameters": { "unbreakable": false },
      "backgroundResidual" : true,
      "objectResidual" : true,
      "flags": [ "playerSpawn" ],
      "value": [149, 0, 255, 255]//156, 0, 255, 255
    },
    
    //delete after this point when integrating.
    {
      "foregroundBlock": false,
      "backgroundBlock": false,
      "value": [255, 255, 255, 255]
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "value": [0, 0, 255, 255]
    },
    
    /*
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "value": [64, 64, 255, 255]
    },
    */
    
    {
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "bk3k_invisibleSolid_opaque",
      "backgroundMat": "bk3k_invisibleSolid_opaque",
      "value": [255, 0, 0, 255]
    },//test
    {
      "comment": "invisiblelight",
      "foregroundBlock": false,
      "backgroundBlock": true,
      /*"object": "invisiblelight", "objectParameters": { "unbreakable": true },*/
      "value": [122, 122, 122, 255]//extra
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "objectResidual" : true,
      "object": "shipengine",
      "objectParameters": { "unbreakable": true },
      "value": [174, 137, 81, 255]//extra
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "objectResidual" : true,
      "object": "boosterflame",
      "objectParameters": { "unbreakable": true },
      "value": [165, 167, 255, 255] //167, 167, 255, 255 extra
    },
    {
      "foregroundBlock": false,
      "backgroundBlock": true,
      "objectResidual" : true,
      "object": "smallboosterflame",
      "objectParameters": { "unbreakable": true },
      "value": [168, 168, 168, 255]//extra
    }
  ]
}
