{
  "actionBarSelectOffset" : [-1, -1],
  "countMidAnchor" : [10, -6],
  "linkCursor" : "/cursors/link.cursor",

  "sounds" : {
    "switch" : [
      "/sfx/interface/actionbar_select.ogg"
    ]
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "topLeft",
      "offset" : [5, -5]
    },

    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/actionbar/actionbarbg.png",
      "fileFooter" : ""
    },

    "customBar1L" : {
      "type" : "itemslot",
      "position" : [13, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar1LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [13, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar1R" : {
      "type" : "itemslot",
      "position" : [30, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar1ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [30, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customBar2L" : {
      "type" : "itemslot",
      "position" : [56, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar2LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [56, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar2R" : {
      "type" : "itemslot",
      "position" : [73, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar2ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [73, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customBar3L" : {
      "type" : "itemslot",
      "position" : [99, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar3LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [99, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar3R" : {
      "type" : "itemslot",
      "position" : [116, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar3ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [116, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customBar4L" : {
      "type" : "itemslot",
      "position" : [142, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar4LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [142, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar4R" : {
      "type" : "itemslot",
      "position" : [159, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar4ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [159, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customBar5L" : {
      "type" : "itemslot",
      "position" : [185, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar5LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [185, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar5R" : {
      "type" : "itemslot",
      "position" : [202, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar5ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [202, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customBar6L" : {
      "type" : "itemslot",
      "position" : [228, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar6LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [228, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar6R" : {
      "type" : "itemslot",
      "position" : [245, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar6ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [245, 6],
      "visible" : false,
      "zlevel" : 2
    },

    

    "customSelect" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-custom.png",
      "position" : [-20, -20]
    },

    "essentialBar1" : {
      "type" : "itemslot",
      "position" : [0, -50],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2,
      "visible" : false
    },
    "essentialBar2" : {
      "type" : "itemslot",
      "position" : [0, -50],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2,
      "visible" : false
    },
    "essentialBar3" : {
      "type" : "itemslot",
      "position" : [0, -50],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2,
      "visible" : false
    },
    "essentialBar4" : {
      "type" : "itemslot",
      "position" : [0, -50],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2,
      "visible" : false
    },

    "essentialSelect" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-essential.png",
      "visible" : false
    },

    "pickupToActionBar" : {
      "type" : "button",
      "position" : [263, 7],
      "base" : "/interface/actionbar/actionbarpickup.png:unchecked",
      "baseImageChecked" : "/interface/actionbar/actionbarpickup.png:checked",
      "checkable" : true
    },

    "swapCustomBar" : {
      "type" : "button",
      "position" : [4, 11],
      "base" : "/interface/actionbar/swapcustombarone.png",
      "baseImageChecked" : "/interface/actionbar/swapcustombartwo.png",
      "checkable" : true
    }
  }
}
