{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "TopRight",
      "offset" : [0, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "zlevel" : -10,
      "fileBody" : "/interface/clock/body.png"
    },
    "clockCanvas" : {
      "type" : "canvas",
      "zlevel" : 1,
      "rect" : [0, 0, 160, 60],
      "captureMouseEvents" : true
    }
  },

  "canvasClickCallbacks" : {
    "clockCanvas" : "canvasClickEvent"
  },

  "scripts" : ["/interface/clock/clock.lua"],
  "scriptDelta" : 1
}