{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestmedheader.png",
      "fileBody" : "/interface/chests/chestmedbody.png",
      "fileFooter" : "/interface/chests/chestmedfooter.png"
    },
    /*
    "objectImage" : {
      "type" : "image",
      "position" : [0, 0],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    */
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [1, 26],
      "dimensions" : [24, 16],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "left",
      "position" : [4, 14]
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "right",
      "position" : [453, 14]
    }
  }
}
